
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>Hints</key>
<array>
<dict>
<key>Content</key>
<string>Look at the `characters` property of `String`.</string>
</dict>
<dict>
<key>Content</key>
<string>This hint is initially hidden by a spoiler button.</string>
<key>SpoilerButtonTitle</key>
<string>Show Spoiler</string>
</dict>
<dict>
<key>FileReference</key>
<string>OutOfBandHint.txt</string>
</dict>
<dict>
<key>FileReference</key>
<string>OutOfBandHintWithSpoilerButton.txt</string>
<key>SpoilerButtonTitle</key>
<string>Show Spoiler</string>
</dict>
</array>
</dict>
</plist>
