<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Terms</key>
	<dict>
		<key>staff block system</key>
		<dict>
			<key>Definition</key>
			<string>Staff blcok system is a railroad communications system that the train is required to hold a symbol to run a block.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Introduction/Staff%20Block%20System</string>
				<key>Title</key>
				<string>Staff Block System</string>
			</dict>
		</dict>
		<key>railway signalling</key>
		<dict>
			<key>Definition</key>
			<string>Railway signalling is a system used to direct railway traffic and keep trains clear of each other at all times. </string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Introduction/Background</string>
				<key>Title</key>
				<string>Background</string>
			</dict>
		</dict>
		<key>signalling block system</key>
		<dict>
			<key>Definition</key>
			<string>Signalling blcok system is a railroad communications system that consists of a series of signals that divide a railway line into a series of sections, or &quot;blocks&quot;. </string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Introduction/Staff%20Block%20System</string>
				<key>Title</key>
				<string>Staff Block System</string>
			</dict>
		</dict>
		<key>manual block system</key>
		<dict>
			<key>Definition</key>
			<string>Authority to occupy a block is conveyed to trains by the use of wayside signals manually controlled by human operators following various procedures to communicate with other block stations to ensure separation of trains.</string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Introduction/Staff%20Block%20System</string>
				<key>Title</key>
				<string>Staff Block System</string>
			</dict>
		</dict>
		<key>automatic block signalling</key>
		<dict>
			<key>Definition</key>
			<string>Automatic block signaling uses a series of automated signals, normally lights or flags, that change their display, or aspect, based on the movement of trains past a sensor. </string>
			<key>FirstUse</key>
			<dict>
				<key>PageReference</key>
				<string>Automatic%20Block%20Signalling/Basic</string>
				<key>Title</key>
				<string>Automatic Block Signalling</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
